body {
    margin: 0;
    padding: 0;
}

// .mytext {
//     color: white;
//     text-align: center;
// }

.main {
    .mytext {
        color: white;
        text-align: center;
        margin-top: -380px;
    }

    width: 100vw;
    height: 100vh;
    position: relative;
    background: #24222f;
    display: flex;
    justify-content: center;
    align-items: center;
    .pulse {
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        background: white;
        outline: solid 2px white;
        outline-offset: 0px;
        animation: pulse 2s ease infinite;
    }
    .pulse1 {
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 40px;
        background: white;
    }
    .pulse:nth-child(1) {
        animation-delay: 0s;
    }
    .pulse:nth-child(2) {
        animation-delay: 0.2s;
    }
    .pulse:nth-child(3) {
        animation-delay: 0.4s;
    }
    .pulse:nth-child(4) {
        animation-delay: 0.6s;
    }

    @keyframes pulse {
        0% {
            outline-offset: 0px;
        }
        100% {
            outline-offset: 130px;
            outline-color: #24222f;
        }
    }
}
